LibraryApp/Service References/LibraryService/LibraryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LibraryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:19475/LibraryService.xamlx?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:19475/LibraryService.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Borrow_InputMessage">
    <wsdl:part name="parameters" element="tns:Borrow" />
  </wsdl:message>
  <wsdl:message name="IService_Borrow_OutputMessage">
    <wsdl:part name="parameters" element="tns:BorrowResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Return_InputMessage">
    <wsdl:part name="parameters" element="tns:Return" />
  </wsdl:message>
  <wsdl:message name="IService_Return_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Renew_InputMessage">
    <wsdl:part name="parameters" element="tns:Renew" />
  </wsdl:message>
  <wsdl:message name="IService_Renew_OutputMessage">
    <wsdl:part name="parameters" element="tns:RenewResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Borrow">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Borrow" message="tns:IService_Borrow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/BorrowResponse" message="tns:IService_Borrow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Return">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Return" message="tns:IService_Return_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReturnResponse" message="tns:IService_Return_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Renew">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Renew" message="tns:IService_Renew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RenewResponse" message="tns:IService_Renew_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Borrow">
      <soap:operation soapAction="http://tempuri.org/IService/Borrow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Return">
      <soap:operation soapAction="http://tempuri.org/IService/Return" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Renew">
      <soap:operation soapAction="http://tempuri.org/IService/Renew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LibraryService">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:19475/LibraryService.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>