LibraryApp/Service References/LibraryService/LibraryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Borrow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Return">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Renew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="renewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>