LibraryApp/Service References/BookService/BookService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:19475/BookService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SimpleWF.Models" />
  <xs:element name="GetBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SimpleWF.Models" minOccurs="0" name="GetBookResult" nillable="true" type="q1:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBooks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBooksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SimpleWF.Models" minOccurs="0" name="GetAllBooksResult" nillable="true" type="q2:ArrayOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>