LibraryApp/Service References/BookService/BookService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SimpleWF.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SimpleWF.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:BookStatus" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
  <xs:simpleType name="BookStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="In" />
      <xs:enumeration value="Out" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BookStatus" nillable="true" type="tns:BookStatus" />
  <xs:complexType name="ArrayOfBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBook" nillable="true" type="tns:ArrayOfBook" />
</xs:schema>